{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Pokémon Database Website">
        <meta name="keywords" content="HTML,Pokémon,Database,Advanced,Web,Development">
        <meta name="author" content="Uyar">
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/pokedata.css' %}"/>
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>